<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<p>{{ serverName }}</p>
<!-- <p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p> -->
<app-server></app-server>
<hr />
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="ResetUser()"
>
  Reset User
</button>

<!-- or use (click)="username=''" -->
